scripts/n8n/lead-tracker-weekly-digest.json
{
  "name": "Lead Tracker \u2014 Weekly Digest \u2192 Slack",
  "_purpose": "Mondays 9am ET. Last 7 days: new handoffs, new orders, revenue, conversion %, payout owed (internal channel only).",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 1"
            }
          ]
        }
      },
      "name": "Mondays 9am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "base": {
          "__rl": true,
          "value": "={{$env.AIRTABLE_BASE_ID}}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Lead Tracker \u2014 Leads",
          "mode": "name"
        },
        "options": {
          "pageSize": 100
        }
      },
      "name": "Fetch all leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_PAT",
          "name": "Lead Tracker PAT"
        }
      },
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const usd = n => new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0 }).format(n);\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7*24*60*60*1000).toISOString().slice(0,10);\nconst rows = $input.all().map(i => i.json.fields);\nconst windowed = rows.filter(r => r['Date Introduced'] >= weekAgo);\nconst ordersThisWeek = rows.filter(r => r.Status === 'order_placed' && (r['Date First Order'] || '') >= weekAgo);\nconst revenueThisWeek = ordersThisWeek.reduce((s, r) => s + Number(r['First Order Amount'] || 0), 0);\nconst payoutThisWeek = revenueThisWeek * 0.15;\nconst byCampaign = {};\nfor (const r of windowed) {\n  const k = r.Campaign || 'Uncategorized';\n  byCampaign[k] = (byCampaign[k] || 0) + 1;\n}\nconst topCampaigns = Object.entries(byCampaign)\n  .sort((a,b) => b[1]-a[1])\n  .slice(0,5)\n  .map(([k,v]) => `\u2022 ${k}: *${v}*`)\n  .join('\\n');\nconst conv = windowed.length ? Math.round((ordersThisWeek.length / windowed.length) * 100) : 0;\nreturn [{ json: {\n  newHandoffs:      windowed.length,\n  newOrders:        ordersThisWeek.length,\n  conversionPct:    conv,\n  revenueFmt:       usd(revenueThisWeek),\n  payoutFmt:        usd(payoutThisWeek),\n  topCampaigns,\n  weekStart:        weekAgo\n}}];"
      },
      "name": "Compute weekly stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{$env.SLACK_LEADS_CHANNEL}}",
        "text": "\ud83d\udcc8 *McKenzie weekly digest \u2014 week of {{$json.weekStart}}*\\n\u2022 New handoffs: *{{$json.newHandoffs}}*\\n\u2022 Orders: *{{$json.newOrders}}* ({{$json.conversionPct}}% conversion)\\n\u2022 Revenue generated: *{{$json.revenueFmt}}*\\n\\n*Top campaigns this week:*\\n{{$json.topCampaigns}}"
      },
      "name": "Slack: client-safe digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "credentials": {
        "slackApi": {
          "id": "SLACK_BOT",
          "name": "Lead Tracker Bot"
        }
      },
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "channel": "={{$env.SLACK_AGENCY_PRIVATE_CHANNEL}}",
        "text": "\ud83d\udcb0 *Internal weekly payout summary \u2014 week of {{$json.weekStart}}*\\nProjected payout this week (15% \u00d7 first-order revenue): *{{$json.payoutFmt}}*\\nReminder: payout column still hidden in McKenzie's view per Ryan + Kody."
      },
      "name": "Slack: agency-only payout",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "credentials": {
        "slackApi": {
          "id": "SLACK_BOT",
          "name": "Lead Tracker Bot"
        }
      },
      "position": [
        900,
        380
      ]
    }
  ],
  "connections": {
    "Mondays 9am ET": {
      "main": [
        [
          {
            "node": "Fetch all leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch all leads": {
      "main": [
        [
          {
            "node": "Compute weekly stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute weekly stats": {
      "main": [
        [
          {
            "node": "Slack: client-safe digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: agency-only payout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "name": "lead-tracker"
    }
  ]
}